:root {
  --color-orange: #e38826;
  --color-cyan: #006970;
  --color-dark-cyan: #004241;
  --color-primary: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 325px;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 920px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .grid--3-colms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: #ffffffbf;
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

h1 {
  color: var(--color-primary);
  font-family: "Big Shoulders Display", Impact, cursive;
  font-weight: 900;
  font-size: 2.4rem;
}

a {
  font-weight: 500;
}

/* Buttons */
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1.5rem 3.5rem;
  border-radius: 30px;
  border: solid 2px var(--color-primary);
}

.btn--orange {
  color: var(--color-orange);
}

.btn--cyan {
  color: var(--color-cyan);
}

.btn--dark-cyan {
  color: var(--color-dark-cyan);
}

.btn:hover {
  border: solid 2px var(--color-primary);
  color: var(--color-primary);
  transition: all 0.2s ease-in;
}

.btn--orange:hover {
  background-color: var(--color-orange);
}

.btn--cyan:hover {
  background-color: var(--color-cyan);
}

.btn--dark-cyan:hover {
  background-color: var(--color-dark-cyan);
}
/* Cards */
.card {
  padding: 4.5rem;
}

.card h1 {
  text-transform: uppercase;
  margin: 2.5rem 0;
}

.card p {
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

.card--orange {
  background-color: var(--color-orange);
}

.card--cyan {
  background-color: var(--color-cyan);
}

.card--dark-cyan {
  background-color: var(--color-dark-cyan);
}

@media screen and (min-width: 768px) {
  .card p {
    padding-bottom: 7rem;
  }
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
  color: grey;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .attribution {
    position: fixed;
    bottom: 1%;
    width: 100%;
  }
}
