:root {
  --color-orange: #e38826;
  --color-cyan: #006970;
  --color-dark-cyan: #004241;
  --color-primary: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  color: #ffffffbf;
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

h1 {
  color: var(--color-primary);
  font-family: "Big Shoulders Display", Impact, cursive;
  font-weight: 900;
  font-size: 2.4rem;
}

a {
  font-weight: 500;
}

/* Buttons */
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1.5rem 3.5rem;
  border-radius: 30px;
  border: solid 2px var(--color-primary);
}

.btn--orange {
  color: var(--color-orange);
}

.btn--cyan {
  color: var(--color-cyan);
}

.btn--dark-cyan {
  color: var(--color-dark-cyan);
}

.btn:hover {
  border: solid 2px var(--color-primary);
  color: var(--color-primary);
  transition: all 0.2s ease-in;
}

.btn--orange:hover {
  background-color: var(--color-orange);
}

.btn--cyan:hover {
  background-color: var(--color-cyan);
}

.btn--dark-cyan:hover {
  background-color: var(--color-dark-cyan);
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
